/* CSS for the Whole Page Container */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Centering the Page */
#content {
    margin: 0 auto;
}

/* Background Colors */
body {
    background-color: #e2eafc;
}

header {
    background-color: hsl(38, 73%, 93%);
    color: ffffff;
}

nav a:hover {
    background-color: #FFE1A8;
    color: white;
}

.book, .join, .book:hover, .join:hover {
    background-color: #c9cba3;
    color: black;
}

#background {
    height: 725px;
}

.msg {
    background-color: #c9cba3;
    color: black;;
}

footer {
    background-color: hsl(38, 73%, 93%);
    color: black;
}

footer a:hover {
    text-decoration: underline;
}
#hero-msg h1,
#hero-msg h4 {
    text-align: center;
/* Widths */
.logo, .icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

/* Remove Underlines from Links */
nav a, .book, .join, footer a {
    text-decoration: none;
    text-align: center;
}

.button-box {
    text-align: center;


footer p {
    font-size: 1.2em; 
}
main section {
    text-align: center;
}
/* Center only the images with the center-image class */
.center-image {
    display: block;
    margin: 0 auto;
}