/* CSS for the Whole Page Container */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Background Colors */
body {
    background-color: #e2eafc;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

header {
    background-color: hsl(38, 73%, 93%);
    color: #ffffff; /* Fixed the color value */
}

nav a:hover {
    background-color: black;
    color: #ffffff; /* Fixed the color value */
}

.book, .join, .book:hover, .join:hover {
    background-color: #c9cba3;
    color: #472D30; /* Fixed the color value */
}

#background {
    height: 725px;
}

.msg {
    background-color: #c9cba3;
    color: #472D30; /* Fixed the color value */
}

footer {
    background-color: hsl(38, 73%, 93%);
    color: #472D30; /* Fixed the color value */
}

footer a:hover {
    text-decoration: underline;
}

/* Center only the images with the center-image class */
.center-image {
        margin: 0 auto;
}

/* Widths */
.logo, .icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

/* Remove Underlines from Links */
nav a, .book, .join, footer a {
    text-decoration: none;
    text-align: center;
}

.button-box {
    text-align: center;
}

footer p {
    font-size: 1.2em;
}

main section {
    text-align: center;
}
